---
---

// colors
[data-dark="false"] {
  --primary: #5a57b4;
  --secondary: #c5a5d7;
  --accent: #b2b7ff;
  --text: #0b0b19;
  --background: #f9f9fc;
  --background-alt: #ffffff;
  --light-gray: #e0e0e0;
  --gray: #808080;
  --dark-gray: #404040;
  --overlay: #00000020;
}
[data-dark="true"] {
  --primary: #87adf3;
  --secondary: #9b0f77;
  --text: #d7e2fb;
  --background: #030a1b;
  --background-alt: #1c1c1c;
  --light-gray: #404040;
  --gray: #808080;
  --dark-gray: #b0b0b0;
  --overlay: #ffffff10;
}

* {
  font-size: 1em;
}

:root {
  // font families
  --title: "Barlow", sans-serif;
  --heading: "Barlow", sans-serif;
  --body: "Barlow", sans-serif;
  --code: "Roboto Mono", monospace;

  // font sizes
  --small: 0.8em;
  --large: 1.5rem;
  --xl: 1.4rem;
  --xxl: 1.6rem;

  // font weights
  --thin: 200;
  --regular: 400;
  --semi-bold: 500;
  --bold: 600;

  // text line spacing
  --spacing: 2;
  --compact: 1.5;

  // effects
  --rounded: 3px;
  --shadow: 0 0 10px 0 var(--overlay);
  --transition: 0.2s ease;
}
