---
---

.badges {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 100%;
}

.badge {
  max-width: 100%;
  font-size: var(--small);
  font-weight: var(--semi-bold);
  margin: 0;
  padding: 2px 4px;
  border-radius: 5px;
  background: var(--accent);
  color: var(--text);
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: background var(--transition), color var(--transition);
}

.badge:hover {
  background: var(--light-gray);
}

.badge[data-active] {
  background: var(--light-gray);
}
