
{{ " " }}
{% assign mod = include.id | modulo: 2 %}

<section class="banner">
    <!-- check if id is odd -->
    {% if mod == 1 %}
    <div class="side">
        <h3>{{ include.title }}</h3>
        {% include tags.html tags=include.tags %}
        <p>{{ include.description }}</p>
        {% include button.html type="docs" text="Read More" link=include.detail_url %}
    </div>
    <div class="side">
        <img src="{{include.image}}" alt="Ilustration 1">
    </div>
    {% else %}
    <div class="side">
        <img src="{{include.image}}" alt="Ilustration 2">
    </div>
    <div class="side">
        <h3>{{ include.title }}</h3>
        {% include tags.html tags=include.tags %}
        <p>{{ include.description }}</p>
        {%
            include button.html
            type="article"
            text="Read More"
            link=include.detail_url
        %}
    </div>
    {% endif %}
</section>