<!-- _includes/youtube.html -->
<figure class="responsive-file-figure" style="max-width: {{ include.width | default: '100%' }}; margin-left: auto; margin-right: auto;">
  <div class="youtube-container">
    <iframe 
      src="https://www.youtube.com/embed/{{ include.id }}" 
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen>
    </iframe>
  </div>
  {% if include.caption %}
    <figcaption class="responsive-file-caption">{{ include.caption }}</figcaption>
  {% endif %}
</figure>